
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RestaurantsLayout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <p style = "font-size:larger; color:black; display:block">
        This is the main page of my Revature Training Program project 1. For this project we were tasked to create a website application in which we use entity framework to link
        to an SQL database server and retrieve information from a database. There are three basic ways to approach this task with entity framework (Code-First methodology, Model-First methodology,
        and Data-First methodology). The approach that was layed out for us by our instructors was Data-First, where they had has create a database, data access layer, and business layer
        for a "Project 0" the week before assigning us this project. With this layout the main goal of our Project 1 was to create a Web Application of MVC design and initialize/couple it 
        to our business layer. The official requirements for this project is that it can display the Top Three restaurants based on average rating; the user can search for specific restaurants by partial name;
        a means to look at all reviews for a Restaurant; and create/update/delete a review to the restaurant.
    </p>
</body>

